body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 218, 246);
    width: 100%;
}

.categorie {
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    color: #353c65;
}

#search {
    margin : auto;
}
#panier {
    margin : auto;
    width: 50px;
    margin-top: 2em;
    margin-right: 4em;
}