body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navcolor {
    background-color: rgb(114, 218, 246);
}

.logos {
    color: black;
}

.categorie {
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .col-xl-5 {
      flex: 0 0 20%;
      max-width: 20%;
    }
}

.product-image {
    max-width: 450px;
}

.row-centered{
    justify-content: center;
}

#logo_brand {
    height: 60px;
    width: 60px;
    margin-left: 30%;
}

#logo_brand_center {
    height: 70px;
    width: 70px;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-link:hover {
    color: inherit;
    text-decoration: none;
}

.main-frame {
    margin-top: 2%;
}

.img-panier {
    max-height: 200px;
}

@media (max-width: 768px) {
    .img-panier {
        max-height: inherit;
    }
}

@media (max-width: 768px) {
    .panier-name {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 575.98px) {
    .accessoire_big {
        display: none;
    }
    .accessoire_small {
        display: flex;
    }
}

@media (min-width: 576px) {
    .accessoire_big {
        display: flex;
    }
    .accessoire_small {
        display: none;
    }
}

.orders-no-shrink {
    min-width: 600px;
}