<!DOCTYPE HTML>
<html lang="fr">
    <body>
        <header>
            <h1 id="logo">Le grenier de mamie</h1>
            <div id="search">
                <form method="post" action="http://localhost:8080">
                    <input type="text" id="recherche" placeholder="Rechercher des produits">
                    <button type="submit">Rechercher</button>
                </form>
            </div>
            <a href="panier"><img id="panier" src="/ressources/panier.png"></a>
        </header>
        <script>
        </script>
    </body>
</html>